.taskActionPanel {
  border-radius: calc(2 * var(--basic-unit));
  background-color: var(--background-gray-selected-half-opacity);
  display: none;
  position: absolute;
  right: calc(2 * var(--basic-unit));
  cursor: pointer;
}

.pad {
  padding: var(--basic-unit) calc(2 * var(--basic-unit));
  border-radius: calc(2 * var(--basic-unit));
  transition: background-color 200ms ease;
}

.padLeft {
  padding-right: calc(1 * var(--basic-unit));
}

.padRight {
  padding-left: calc(1 * var(--basic-unit));
}

.pad:hover {
  background-color: var(--background-half-dart-gray);
}

.icon {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
  font-size: 1.25rem;
}
