.root {
  flex-grow: 1;
  display: flex;
}

.taskListPageContent {
  display: flex;
  align-items: start;
}

.sideBar {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px; /* TODO: change to invisible header for task lists (groups) in sidebar */
}

.mainContent {
  width: 70%;
}
