.root {
  flex-grow: 1;
  display: flex;
}

.taskListPageContent {
  display: flex;
}

.sideBar {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainContent {
  width: 70%;
}
