.header {
  text-align: center;
}

.headerTitle {
  margin: 0;
  padding: 0.5em;
  text-transform: uppercase;
  color: var(--text-dark-gray);
  font-size: 2em;
}

.refresh {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 1.5rem;
  cursor: pointer;
}
