.root {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 30px; /* Protect window inside from sticking to the borders of the screen */
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: 998;
  opacity: 0.5;
  background-color: black;
}

.window {
  position: relative;
  border-radius: calc(4 * var(--basic-unit));
  background-color: var(--background-gray-selected);
  padding: calc(10 * var(--basic-unit));
  z-index: 999;
  width: 100%;
  max-width: 500px;
}

.header {
  display: flex;
  font-size: 1rem;
  font-family: var(--font-family-main);
}

.title {
  font-size: var(--font-size-header-middle);
  flex-grow: 1;
}

.cancelIcon {
  position: absolute;
  top: calc(3 * var(--basic-unit));
  right: calc(3 * var(--basic-unit));
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 1.5rem;
}

.main {
  padding-top: calc(8 * var(--basic-unit));
}
