.filter-button {
    cursor: pointer;
    position: relative;
}

.filter-button__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}

.filter-button__control {
    padding: calc(2 * var(--basic-unit)) calc(3 * var(--basic-unit));
    border: 1px solid transparent;
    border-radius: var(--border-radius-standard);
}

.filter-button__control:hover {
    border: 1px solid var(--border-light-gray);
}

.filter-button__input:checked ~ .filter-button__control {
    border: 1px solid var(--border-dark-gray);
}