.root {
  text-decoration: none;
  background-color: var(--ui-primary);
  color: white;
  letter-spacing: calc(0.4 * var(--basic-unit));
}

.big {
  font-size: 1.5rem;
  padding: 1.5rem 3rem;
}

.middle {
  font-size: 1rem;
  padding: 1rem 2rem;
}

.small {
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
}
