:root {
  --text-dark-gray: #555555;
  --text-middle-gray: #9ea0a3;
  --text-light-gray: #d5d5d5;
  --border-light-gray: #eeeeee;
  --border-dark-gray: #555555;
  --background-dark-gray: #757777; /* for shadows */
  --background-half-dart-gray: #c3c7c7;
  --background-gray: #fffefc; /* background for all application */
  --background-gray-selected: #eef1f3; /* background for active task */
  --background-gray-selected-half-opacity: rgba(238, 241, 243, 0.9);
  --background-white: #ffffff;
  --ui-primary: #3b8ea5;
  --ui-primary-green: #83c257;
  --ui-primary-green-bright: #52be06;
  --basic-unit: 0.25rem; /* it's about 4px for standard 16px font-size */
  --border-radius-standard: 0.5rem; /* it's about 4px for standard 16px font-size */
  --font-family-logo: "Roboto", sans-serif;
  --font-family-main: "Roboto", sans-serif;
  --font-size-header-big: 2rem;
  --font-size-header-middle: 1.125rem; /* usually it's 18px on desktop */
  --font-size-text-middle: 1rem;
  --font-size-text-small: 0.875rem; /* usually it's 14px on desktop */
}

body {
  box-sizing: border-box;
  font-family: var(--font-family-main);
  color: var(--text-dark-gray);
}

.container {
  flex-grow: 1; /* helps to take the whole height on the screen */
  margin: 0 auto;
  max-width: 1280px;
  padding-left: calc(4 * var(--basic-unit));
  padding-right: calc(4 * var(--basic-unit));
}
