:root {
  --text-dark-gray: #555555;
  --text-light-gray: #d5d5d5;
  --border-light-gray: #eeeeee;
  --border-dark-gray: #555555;
  --background-gray: #fffefc;
  --background-white: #ffffff;
  --ui-primary: #3b8ea5;
  --ui-primary-green: #83c257;
  --ui-primary-green-bright: #52be06;
  --basic-unit: 0.25rem; /* it's about 4px for standard 16px font-size */
  --border-radius-standard: 0.25rem; /* it's about 4px for standard 16px font-size */
  --font-family-logo: "Roboto", sans-serif;
  --font-family-main: "Roboto", sans-serif;
  --font-size-header-big: 2rem;
  --font-size-header-middle: 1.5rem;
  --font-size-text-middle: 1rem;
  --font-size-text-small: 0.875rem; /* usually it's 14px on desktop */
}

body {
  box-sizing: border-box;
  font-family: var(--font-family-main);
  color: var(--text-dark-gray);
}

.container {
  flex-grow: 1; /* helps to take the whole height on the screen */
  margin: 0 auto;
  max-width: 1280px;
  padding-left: calc(4 * var(--basic-unit));
  padding-right: calc(4 * var(--basic-unit));
}
