.task {
  padding-top: calc(4 * var(--basic-unit));
  padding-bottom: calc(4 * var(--basic-unit));
  padding-right: calc(4 * var(--basic-unit));
  border-bottom: 1px solid var(--border-light-gray);
  border-radius: var(--border-radius-standard);
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto;
  align-items: center;
  position: relative;
}

.task:last-child {
  border-bottom: none;
}

.task.active {
  background-color: var(--background-gray-selected);
  box-shadow: 0 0 calc(3 * var(--basic-unit)) var(--background-dark-gray);
}
