.task {
  padding: 0.75em 0;
  border-bottom: 1px solid var(--border-light-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  position: relative;
}

.taskDone .taskTitle {
  text-decoration: line-through;
  color: var(--text-light-gray);
}

.task:last-child {
  border-bottom: none;
}
