.task {
  padding: calc(4 * var(--basic-unit)) 0;
  border-bottom: 1px solid var(--border-light-gray);
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 0.5em;
  position: relative;
}

.task:last-child {
  border-bottom: none;
}

.task.active {
  background-color: var(--background-gray);
}

.taskTitle {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.taskDone .taskTitle {
  text-decoration: line-through;
  color: var(--text-light-gray);
}

.input {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.description {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  white-space: pre-line;
  font-size: var(--font-size-text-small);
  color: var(--text-middle-gray);
  transition: max-height 250ms, color 250ms;
  /* To show only 1-2 strings of description at first for each task */
  max-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical; /* I don't know why this 3 lines are necessarily for displaying ... in the end */
  -webkit-line-clamp: 2;
  display: -webkit-box;
}

.description.opened {
  max-height: 200px;
  color: var(--text-dark-gray);
  -webkit-line-clamp: initial;
  display: block;
}
